* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 45px;
}
header {
    background-color: #FFB7C3;
    color: #fff;
    padding: 0px ;
}

header h1 {
    text-align: center;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #333;
    }

.hero {
    background: url('../img/img8.jpg') no-repeat center center/cover;
    color: #FFB7C3;
    padding: 140px 0;
    text-align: center;
}

.cta-button {
    background-color: ;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}


.about,
.menu {
    padding: 0px 0;
    text-align: center;
    text-color: #FFB7C3;
}

.menu-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px; /* Added gap between items for better spacing */
}

.menu-item {
    background-color: #FFB7C3;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Increased shadow for depth */
    border-radius: 8px; /* Rounded corners */


}

.menu-item:hover {
    transform: translateY(-5px); /* Slight lift effect on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
}

.menu-item h3 {
    margin-bottom: 10px;
    text-color: #FFB7C3;
    font-size: 1.5rem; /* Slightly larger font size */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0px 0;
    font-size: 0.9rem; /* Slightly smaller font size */
}

