<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cardápio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index3.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <h1>Confeitaria Sempre Doce</h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="#">Sobre</a></li>
                    <li><a href="cardapio">Cardápio</a></li>
                    <li><a href="contatos">Contato</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section class="hero">
        <h1></h1>
    </section>

    <section class="menu">
        <div class="container">
            <h3>Nossos Doces</h3>
            <div class="menu-items">
            </div>
        </div>
    </section>

     <section class="menu2">
        <div class="container">
            <h2></h2>
            <div class="menu-items2">
            </div>
        </div>
    </section>

    <footer>
        <p>&copy; 2024 Confeitaria Sempre Doce. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
