<!DOCTYPE html>
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index2.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <h1>Meu Site</h1>
            <nav>
                <ul>
                    <li><a href="/">Início</a></li>
                    <li><a href="#">Sobre</a></li>
                    <li><a href="cardapio">Menu</a></li>
                    <li><a href="contatos">Contato</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="hero">
        <h1></h1>
    </div>

    <section class="contact">
        <div class="container">
            <h2>Envie uma Mensagem</h2>
            <form action="#" method="post">
                <div class="form-group">
                    <label for="name">Nome:</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="email">E-mail:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="message">Mensagem:</label>
                    <textarea id="message" name="message" rows="5" required></textarea>
                </div>
                <button type="submit" class="cta-button">Enviar</button>
            </form>
        </div>
    </section>

    <footer>
        <p>&copy; 2024 Meu Site. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
